Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

prettier-web:
  name: prettier (web)
  entry: pnpm --prefix web format
  language: system
  pass_filenames: false

rustfmt-api:
  name: rustfmt (api)
  entry: bash -c 'cd api && cargo fmt --all'
  language: system
  pass_filenames: false

mobile support
  web/src/app.css
  web/src/lib/components/header.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/modals/BaseModal.svelte
  web/src/lib/components/page-header.svelte
  web/src/lib/components/search/SearchInput.svelte
  web/src/routes/+layout.svelte
  web/src/routes/experiments/[experimentId]/+page.svelte
Due: prettier-web

remove extra ui stuff
  web/src/lib/components/lists/WorkspaceList.svelte
Due: prettier-web

use workspace badge
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/workspace-role-badge.svelte
Due: prettier-web

landing page looked weird
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

wip
  web/src/app.css
  web/src/app.html
  web/src/lib/components/simple-landing-page.svelte
  web/src/lib/components/toolbar.svelte
  web/src/routes/+layout.svelte
  web/src/routes/login/+page.svelte
Due: prettier-web

add some mauve
  web/src/app.css
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/ModalButtons.svelte
  web/src/lib/components/modals/ModalFormSection.svelte
  web/src/lib/components/modals/create-workspace-modal.svelte
  web/src/lib/components/page-header.svelte
  web/src/lib/components/recent-activity.svelte
  web/src/lib/components/search/SearchDropdown.svelte
  web/src/lib/components/workspace-role-badge.svelte
  web/src/routes/+layout.svelte
  web/src/routes/compare/+page.svelte
  web/src/routes/workspaces/+page.svelte
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web

recent activity
  web/src/lib/components/recent-activity.svelte
Due: prettier-web

fix modals
  web/src/lib/components/modals/ModalButtons.svelte
  web/src/lib/components/modals/ModalFormSection.svelte
  web/src/lib/components/modals/create-experiment-modal.svelte
  web/src/lib/components/modals/delete-confirmation-modal.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/components/recent-activity.svelte
  web/src/routes/experiments/[experimentId]/experiment-metrics.svelte
Due: prettier-web

update settings page
  web/src/routes/settings/+page.svelte
Due: prettier-web

cards
  web/src/app.css
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/toolbar.svelte
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
Due: prettier-web

cleanup settings page
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/routes/settings/+page.server.ts
  web/src/routes/settings/+page.svelte
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/+page.svelte
Due: prettier-web

more efficient queries
  web/src/lib/components/pending-invitations.svelte
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
Due: prettier-web

capital n
  web/src/lib/components/toolbar.svelte
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web

round buttons in toolbar
  web/src/lib/components/toolbar.svelte
Due: prettier-web

UI tweaks (#103)
  web/src/app.css
  web/src/app.html
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/ModalFormSection.svelte
  web/src/lib/components/modals/create-experiment-modal.svelte
  web/src/lib/components/modals/create-workspace-modal.svelte
  web/src/lib/components/modals/delete-confirmation-modal.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/components/page-header.svelte
  web/src/lib/components/pending-invitations.svelte
  web/src/lib/components/recent-activity.svelte
  web/src/lib/components/search/SearchDropdown.svelte
  web/src/lib/components/simple-landing-page.svelte
  web/src/lib/components/toolbar.svelte
  web/src/lib/components/workspace-role-badge.svelte
  web/src/routes/compare/+page.svelte
  web/src/routes/experiments/[experimentId]/experiment-metrics.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/settings/+page.server.ts
  web/src/routes/settings/+page.svelte
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/+page.svelte
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web

fix favicon
  web/src/app.html
  web/static/favicon.svg
Due: prettier-web

deploy frontend to vercel
  web/package.json
  web/pnpm-lock.yaml
  web/svelte.config.js
Due: prettier-web

remove anthropic key for now
  cloudbuild.yaml
Due: none

update frontend url to point to the vercel one
  cloudbuild.yaml
Due: none

use app state
  api/src/handlers/api_key.rs
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/main.rs
  api/src/middleware/auth.rs
  api/src/settings.rs
  api/src/state.rs
Due: rustfmt-api

state
  api/src/state.rs
Due: rustfmt-api

main
  api/src/main.rs
Due: rustfmt-api

return url with experiments
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/types/core.rs
Due: rustfmt-api

use the experiment url returned by the backend
  api/src/handlers/experiment.rs
  python/tora/_client.py
  python/tora/_wrapper.py
  python/uv.lock
Due: rustfmt-api

remove old function
  python/tora/_client.py
Due: none

update version
  python/pyproject.toml
  python/tora/__init__.py
Due: none

fix tests
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_client.py
  python/tests/test_wrapper.py
  python/tora/_client.py
  python/tora/_wrapper.py
  python/uv.lock
Due: none

update homepage docs
  web/src/lib/content/quick-start.txt
  web/src/lib/content/user-guide.md
Due: prettier-web

user guide and maximize
  python/tora/_client.py
  web/src/lib/components/simple-landing-page.svelte
  web/src/lib/content/user-guide.md
Due: prettier-web

text wrapping for code
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

text wrapping
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

update tests
  python/tests/test_client.py
  python/tests/test_wrapper.py
Due: none

reduce tests
  python/tests/conftest.py
  python/tests/test_client.py
  python/tests/test_exceptions.py
  python/tests/test_http.py
  python/tests/test_validation.py
  python/tests/test_wrapper.py
Due: none

Python client config (#104)
  api/src/handlers/api_key.rs
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/main.rs
  api/src/middleware/auth.rs
  api/src/settings.rs
  api/src/state.rs
  api/src/types/core.rs
  cloudbuild.yaml
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_client.py
  python/tests/test_exceptions.py
  python/tests/test_http.py
  python/tests/test_validation.py
  python/tests/test_wrapper.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_wrapper.py
  python/uv.lock
  web/src/lib/components/simple-landing-page.svelte
  web/src/lib/content/quick-start.txt
  web/src/lib/content/user-guide.md
Due: prettier-web, rustfmt-api

line breaks
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

simple landing page
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

remove documentation not meant for users
  web/src/lib/content/user-guide.md
Due: prettier-web

improve wording around how auth works
  web/src/lib/content/user-guide.md
Due: prettier-web

quick start
  web/src/lib/content/quick-start.txt
Due: prettier-web

Path conditions:
  prettier-web: any of: ^web/
  rustfmt-api: any of: ^api/
