Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

prettier-web:
  name: prettier (web)
  entry: pnpm --prefix web format
  language: system
  pass_filenames: false

rustfmt-api:
  name: rustfmt (api)
  entry: bash -c 'cd api && cargo fmt --all'
  language: system
  pass_filenames: false

remove background colors
  ios/tora/App.swift
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Screens/LoginView.swift
  ios/tora/Screens/SettingsView.swift
  ios/tora/Screens/WorkspacesView.swift
  ios/tora/Services/Auth.swift
Due: none

hacked together but working
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

use RefreshResponse instead of LoginResponse
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

manage auth state in AuthService
  ios/tora/Services/Auth.swift
Due: none

working as intended
  ios/tora/App.swift
  ios/tora/Services/Workspace.swift
Due: none

render UI based on auth state
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

refresh session if expiresIn is before current time
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

Ios/refresh session (#113)
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
  ios/tora/Services/Workspace.swift
Due: none

commit to using the authservice's state to display errors to the user
  ios/tora/Screens/LoginView.swift
  ios/tora/Services/Auth.swift
Due: none

decodeUserSession to decode api responses into a usersession
  ios/tora/Services/Auth.swift
Due: none

remove authenticating state
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

use authService.getAuthToken which handles refreshes
  ios/tora/Services/Auth.swift
  ios/tora/Services/Performance.swift
  ios/tora/Services/Workspace.swift
Due: none

refresh session on schene changes
  ios/tora/App.swift
  ios/tora/Services/Auth.swift
Due: none

use getUserToken for refreshes
  ios/tora/App.swift
Due: none

break out experiment service into its own file
  ios/tora/Screens/MainAppView.swift
  ios/tora/Screens/WorkspacesView.swift
  ios/tora/Services/Workspace.swift
Due: none

clean up workspace view -> experiment view flow. also added pull-down to refresh
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Screens/LoginView.swift
  ios/tora/Screens/WorkspacesView.swift
Due: none

ExperimentService
  ios/tora/Services/Experiment.swift
Due: none

iterate on experiment details page
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Services/Experiment.swift
Due: none

add metric and tmetric functions for explicitly logging inter training metrics
  python/CHANGELOG.md
  python/README.md
  python/examples/basic_usage.py
  python/examples/pytorch_integration.py
  python/tests/test_client.py
  python/tests/test_wrapper.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_wrapper.py
Due: none

update experiment details to show scalar metrics as results now
  python/scripts/saturate_backend.py
  python/scripts/tora_template.py
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

update Tora.metric to take in step_or_epoch, which cannot be None
  python/CHANGELOG.md
  python/scripts/saturate_backend.py
  python/tora/__init__.py
  python/tora/_client.py
Due: none

rename handlers/metrics.rs to handlers/logs.rs and also update the frontend to use the new metadata attached to each of the logs to make parsing easier
  Makefile
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
  api/src/handlers/workspace.rs
  api/src/types/core.rs
  python/CHANGELOG.md
  python/tora/__init__.py
  python/tora/_client.py
  start-dev.sh
  sync-db.sh
  up.sql
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/types.ts
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
Due: prettier-web, rustfmt-api

remove sync db script that LLM generated cause its slop
  sync-db.sh
Due: none

update up script to saturate workspcae roles properly
  up.sql
Due: none

remove unused import
  web/src/routes/signup/confirm/+page.server.ts
Due: prettier-web

clean up confirmation function
  web/src/routes/signup/confirm/+page.server.ts
Due: prettier-web

simplify error handling
  web/src/routes/signup/confirm/+page.server.ts
Due: prettier-web

refactor experimentview to use the metadata to parse the logs
  ios/tora/Components/WorkspaceCard.swift
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Services/Experiment.swift
  python/scripts/saturate_backend.py
Due: none

basic charts now showing
  ios/tora/Screens/ExperimentsView.swift
Due: none

use line plot like i intended, dumbass bot
  ios/tora/Screens/ExperimentsView.swift
Due: none

update frontend url and rust loglevel
  cloudbuild.yaml
  python/scripts/saturate_backend.py
Due: none

remove unused workspace roles
  api/src/handlers/experiment.rs
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/workspace-role-badge.svelte
Due: prettier-web, rustfmt-api

ensure browser only methods run only on the client side
  web/src/routes/dashboard/+layout.svelte
Due: prettier-web

updates to iOS experiment view
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Services/Config.swift
Due: none

remove navigationTitle and its modifier in experimentsview
  ios/tora/Screens/ExperimentsView.swift
Due: none

update the way the hyperparams and results are shown
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

make the results pinnable, pinned results show at the top of the detailed pain
  README.md
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

experiment detailed view updates
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

update axum to use ws feature
  api/Cargo.lock
  api/Cargo.toml
Due: rustfmt-api

add session affinity
  cloudbuild.yaml
Due: none

Path conditions:
  prettier-web: any of: ^web/
  rustfmt-api: any of: ^api/
