Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

prettier-web:
  name: prettier (web)
  entry: pnpm --prefix web format
  language: system
  pass_filenames: false

rustfmt-api:
  name: rustfmt (api)
  entry: bash -c 'cd api && cargo fmt --all'
  language: system
  pass_filenames: false

touch up UI to make it more responsive
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

update gitignore
  .gitignore
Due: none

rename functions to use logs instead of metrics
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
Due: rustfmt-api

update schema
  up.sql
Due: none

add a unique constraint (experiment_id, msg_id) on log table
  up.sql
Due: none

update the client and api's to accept a msg_id, unique to each log
  api/Cargo.lock
  api/Cargo.toml
  api/schema.sql
  api/src/handlers/log.rs
  api/src/main.rs
  api/src/state.rs
  api/src/types/core.rs
  api/src/types/mod.rs
  api/src/types/network.rs
  python/tora/_client.py
  web/src/lib/types.ts
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web, rustfmt-api

prevent unnecessary type casting
  api/src/handlers/log.rs
  api/src/handlers/stream.rs
Due: rustfmt-api

align revoking a key to how all the other modals work throughout the webapp
  web/src/lib/components/modals/index.ts
  web/src/lib/components/modals/revoke-api-key-modal.svelte
  web/src/lib/state/modal.svelte.ts
  web/src/routes/settings/+page.svelte
Due: prettier-web

type warnings
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

update makefile
  Makefile
Due: none

add struct for OutLog and write to it
  api/src/handlers/log.rs
  api/src/types/core.rs
Due: rustfmt-api

update the types to match the database correctly and a simple worker that is able to query for those rows
  api/src/main.rs
  api/src/types/core.rs
Due: rustfmt-api

update rand crate
  api/Cargo.lock
  api/Cargo.toml
  api/src/handlers/api_key.rs
Due: rustfmt-api

logs being processed propery (?)
  api/src/main.rs
  api/src/state.rs
  api/src/worker/mod.rs
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

add handler /experiments/{experiment_id}/logs/stream
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
Due: rustfmt-api

clean up routes
  api/src/handlers/mod.rs
Due: rustfmt-api

fix query to get unprocessed rows
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

logs retrived from redis and sent over websockets
  Makefile
  api/Cargo.lock
  api/Cargo.toml
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
  api/src/main.rs
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

get port from evironment
  api/src/main.rs
Due: rustfmt-api

add endpoint to get short lived token to access the stream endpoint from the frontend directly
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
Due: rustfmt-api

add i-keys to features to use get/set
  api/Cargo.toml
Due: rustfmt-api

new script to test streaming metrics
  python/scripts/stream_metrics.py
Due: none

mark logs as processed
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

AI SLOP: code to enable streaming metrics in the frontend
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

get redis url from environment
  api/src/main.rs
  api/src/settings.rs
  docker-compose.yaml
  start-dev.sh
Due: rustfmt-api

configure outbox polling interval from envvars
  api/src/main.rs
  api/src/settings.rs
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

Streaming logs (#114)
  .gitignore
  Makefile
  api/Cargo.lock
  api/Cargo.toml
  api/schema.sql
  api/src/handlers/api_key.rs
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
  api/src/main.rs
  api/src/settings.rs
  api/src/state.rs
  api/src/types/core.rs
  api/src/types/mod.rs
  api/src/types/network.rs
  api/src/worker/mod.rs
  api/src/worker/outbox_worker.rs
  cloudbuild.yaml
  docker-compose.yaml
  python/scripts/stream_metrics.py
  python/tora/_client.py
  start-dev.sh
  up.sql
  web/src/lib/components/modals/index.ts
  web/src/lib/components/modals/revoke-api-key-modal.svelte
  web/src/lib/state/modal.svelte.ts
  web/src/lib/types.ts
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
  web/src/routes/settings/+page.svelte
Due: prettier-web, rustfmt-api

refactor(web): remove '/api' prefix from server-side backend calls and standardize ApiClient usage
  web/src/hooks.server.ts
  web/src/routes/+page.server.ts
  web/src/routes/dashboard/+page.server.ts
  web/src/routes/login/+page.server.ts
  web/src/routes/settings/+page.server.ts
  web/src/routes/signup/+page.server.ts
  web/src/routes/signup/confirm/+page.server.ts
Due: prettier-web

fix(web): ExperimentDetails – drop '/api' from WS URL and make chartRef reactive
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

refactor(api): serve routes at root and read PORT from settings
  api/src/main.rs
  api/src/settings.rs
Due: rustfmt-api

refactor(ios): drop '/api' from backend base URLs and auth endpoints
  ios/tora/Services/Auth.swift
  ios/tora/Services/Experiment.swift
  ios/tora/Services/Workspace.swift
Due: none

chore(python): default API base URL -> https://api.toracker.com; bump to 0.0.11
  python/CHANGELOG.md
  python/tora/__init__.py
  python/tora/_config.py
Due: none

fix(web): proxy removes '/api' when forwarding to backend
  web/src/routes/api/[...proxyPath]/+server.ts
Due: prettier-web

remove verbose log statement
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

add health endpoint
  api/src/handlers/health.rs
  api/src/handlers/mod.rs
Due: rustfmt-api

improve start script to wait for the backend to properly start before starting the frontend
  start-dev.sh
Due: none

add trait FromRow to Log so that we dont have to cast explicitly
  api/src/handlers/log.rs
  api/src/types/core.rs
Due: rustfmt-api

include msg_id as part of the payload
  api/src/handlers/log.rs
Due: rustfmt-api

send backfill logs to client
  api/src/handlers/stream.rs
Due: rustfmt-api

Path conditions:
  prettier-web: any of: ^web/
  rustfmt-api: any of: ^api/
