Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(web/|api/)
      - id: end-of-file-fixer
        exclude: ^(web/|api/)
      - id: check-yaml
        exclude: ^(web/|api/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
        files: \.(toml)$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        name: ruff-linting
        files: ^python/tora/
        args: ["--fix"]
      - id: ruff-format
        name: ruff-formatting
        files: ^python/tora/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: debug-statements
        files: ^python/tora/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^python/tora/
        args: ["--ignore-missing-imports", "--no-strict-optional", "--allow-any-generics"]
        additional_dependencies: [types-requests]

  # Web formatting (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: pnpm --prefix web format
        language: system
        files: ^web/
        pass_filenames: false

  # Rust formatting (API)
  - repo: local
    hooks:
      - id: rustfmt-api
        name: rustfmt (api)
        entry: bash -c 'cd api && cargo fmt --all'
        language: system
        files: ^api/
        pass_filenames: false

column headers should be sticky
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

visual separation between cards
  web/src/lib/components/lists/ListCard.svelte
Due: prettier-web

refine design system and remove unused styles
  web/src/app.css
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/EmptyState.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

delete experiment modal
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/BaseModal.svelte
  web/src/lib/components/modals/delete-experiment-modal.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/lib/components/modals/index.ts
  web/src/lib/components/modals/workspace-invite-modal.svelte
  web/src/lib/state/modal.svelte.ts
  web/src/routes/dashboard/ExperimentListColumn.svelte
Due: prettier-web

remove the experiment from the experiment list on delete so its reactive
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/modals/delete-experiment-modal.svelte
Due: prettier-web

fix invitations by properly querying for the workspace name on creation
  api/src/handlers/invitation.rs
Due: rustfmt-api

landing page UI fixes
  web/src/lib/components/landing-page.svelte
Due: prettier-web

more landing page ui fixes
  web/src/app.css
  web/src/lib/components/landing-page.svelte
Due: prettier-web

landing page final
  web/src/lib/components/landing-page.svelte
Due: prettier-web

remove weird terminal-color style
  web/src/app.css
  web/src/lib/components/landing-page.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

manually fix the ui lol
  web/src/app.css
  web/src/app.html
  web/src/lib/components/header.svelte
  web/src/lib/components/landing-page.svelte
  web/src/routes/+layout.svelte
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

put a message saying mobile app coming soon
  web/src/routes/dashboard/+layout.svelte
Due: prettier-web

linter warnings
  web/src/lib/components/header.svelte
  web/src/lib/components/lists/ExperimentList.svelte
Due: prettier-web

fix login page
  web/src/routes/login/+page.svelte
Due: prettier-web

process landing page content on the server
  web/src/lib/components/landing-page.svelte
  web/src/routes/+page.server.ts
  web/src/routes/+page.svelte
Due: prettier-web

wip
  web/src/app.css
  web/src/lib/components/landing-page-v2.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.server.ts
  web/src/routes/+page.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/src/lib/components/landing-page-v2.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.server.ts
Due: prettier-web

resize text to fit on smaller screens
  web/src/lib/components/landing-page-v2.svelte
Due: prettier-web

terminal done, next layout
  web/src/lib/components/landing-page-v2.svelte
Due: prettier-web

update readme
  web/src/lib/components/landing-page-v2.svelte
  web/src/lib/content/user-guide.md
Due: prettier-web

getting there
  web/src/lib/components/landing-page-v2.svelte
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
Due: prettier-web

wip
  web/src/lib/components/landing-page-v2.svelte
Due: prettier-web

done!
  web/src/lib/components/landing-page-v2.svelte
Due: prettier-web

remove old landing page
  web/src/lib/components/landing-page.svelte
Due: prettier-web

update imports
  web/src/lib/components/index.ts
  web/src/routes/+page.svelte
Due: prettier-web

update spacing in the readme
  web/src/lib/content/user-guide.md
Due: prettier-web

code highlighting on the server side was a mistake
  web/src/lib/components/landing-page-v2.svelte
  web/src/routes/+page.server.ts
  web/src/routes/+page.svelte
Due: prettier-web

Landing page redo (#111)
  web/src/app.css
  web/src/lib/components/index.ts
  web/src/lib/components/landing-page-v2.svelte
  web/src/lib/components/landing-page.svelte
  web/src/lib/content/user-guide.md
  web/src/routes/+layout.svelte
  web/src/routes/+page.server.ts
  web/src/routes/+page.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

apply the color to the shiki highlighter properly
  web/src/lib/state/theme.svelte.ts
Due: prettier-web

up to date docs
  web/src/lib/content/quick-start.txt
  web/src/lib/content/user-guide.md
Due: prettier-web

remove print statement
  ios/tora/Core/Services/Workspace.swift
Due: none

wip
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

wip
  ios/tora/Features/Authentication/Views/LoginView.swift
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
Due: none

wip
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

wip]
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
Due: none

feat: Implement Catppuccin color palette and refactor services
  ios/app.css
  ios/design.md
  ios/tora/Core/Services/Auth.swift
  ios/tora/Core/Services/Workspace.swift
  ios/tora/Design/Colors.swift
  ios/tora/Features/Authentication/Views/LoginView.swift
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
  ios/tora/Features/Main/Views/MainAppView.swift
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

new endpoint to batch get experiments via a list of ids
  api/src/handlers/experiment.rs
  api/src/handlers/mod.rs
  api/src/types/mod.rs
  api/src/types/network.rs
Due: rustfmt-api

remove bad code
  api/src/handlers/experiment.rs
Due: rustfmt-api
