Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(web/|api/)
      - id: end-of-file-fixer
        exclude: ^(web/|api/)
      - id: check-yaml
        exclude: ^(web/|api/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
        files: \.(toml)$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        name: ruff-linting
        files: ^python/tora/
        args: ["--fix"]
      - id: ruff-format
        name: ruff-formatting
        files: ^python/tora/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: debug-statements
        files: ^python/tora/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^python/tora/
        args: ["--ignore-missing-imports", "--no-strict-optional", "--allow-any-generics"]
        additional_dependencies: [types-requests]

  # Web formatting (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: pnpm --prefix web format
        language: system
        files: ^web/
        pass_filenames: false

  # Rust formatting (API)
  - repo: local
    hooks:
      - id: rustfmt-api
        name: rustfmt (api)
        entry: bash -c 'cd api && cargo fmt --all'
        language: system
        files: ^api/
        pass_filenames: false

refresh chart refresh button since we already have a experiment refresh button
  web/src/lib/components/ChartToolbar.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

break out common chart components / cleanup
  web/src/lib/chart/options.ts
  web/src/lib/chart/theme.ts
  web/src/lib/components/header.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

add back refresh chart button for static views
  web/src/lib/components/ChartToolbar.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
Due: prettier-web

get metrics and results from their respective endpoints
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Services/Auth.swift
Due: none

,
  ios/tora/Components/WorkspaceSelector.swift
  ios/tora/Design/Colors.swift
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Screens/WorkspacesView.swift
Due: none

refactor for more readability
  ios/tora/App.swift
  ios/tora/App/AppRootView.swift
  ios/tora/App/MainAppView.swift
  ios/tora/App/ToraApp.swift
  ios/tora/Core/Configuration/AppConfig.swift
  ios/tora/Core/Models/ExperimentModels.swift
  ios/tora/Core/Models/WorkspaceModels.swift
  ios/tora/Core/Networking/APIClient.swift
  ios/tora/Core/Networking/APIResponse.swift
  ios/tora/Core/Networking/ServiceError.swift
  ios/tora/Core/Services/AuthService.swift
  ios/tora/Core/Services/ExperimentService.swift
  ios/tora/Core/Services/WorkspaceService.swift
  ios/tora/Core/Utilities/PerformanceMetrics.swift
  ios/tora/Features/Experiments/Components/ExperimentDetailSections.swift
  ios/tora/Features/Experiments/Components/ExperimentInfoPanel.swift
  ios/tora/Features/Experiments/ViewModels/ExperimentDetailViewModel.swift
  ios/tora/Features/Experiments/Views/ExperimentDetailView.swift
  ios/tora/Features/Login/Views/LoginFormSheet.swift
  ios/tora/Features/Login/Views/LoginView.swift
  ios/tora/Features/Settings/Views/SettingsView.swift
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
  ios/tora/Features/Workspaces/Components/WorkspaceSelector.swift
  ios/tora/Features/Workspaces/ViewModels/WorkspacesViewModel.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Screens/WorkspacesView.swift
  ios/tora/Services/Experiment.swift
  ios/tora/Services/Workspace.swift
  ios/tora/Shared/Components/ToraButton.swift
  ios/tora/Shared/Design/AppThemeEnvironment.swift
  ios/tora/Shared/Design/Colors.swift
  ios/tora/Shared/Design/Theme.swift
  ios/tora/Shared/Design/Typography.swift
  ios/tora/Shared/Extensions/Date+Formatting.swift
Due: none

wrap services in a class
  ios/tora/App/ToraApp.swift
Due: none

Ios release (#116)
  ios/tora/App.swift
  ios/tora/App/AppRootView.swift
  ios/tora/App/MainAppView.swift
  ios/tora/App/ToraApp.swift
  ios/tora/Components/WorkspaceSelector.swift
  ios/tora/Core/Configuration/AppConfig.swift
  ios/tora/Core/Models/ExperimentModels.swift
  ios/tora/Core/Models/WorkspaceModels.swift
  ios/tora/Core/Networking/APIClient.swift
  ios/tora/Core/Networking/APIResponse.swift
  ios/tora/Core/Networking/ServiceError.swift
  ios/tora/Core/Services/AuthService.swift
  ios/tora/Core/Services/ExperimentService.swift
  ios/tora/Core/Services/WorkspaceService.swift
  ios/tora/Core/Utilities/PerformanceMetrics.swift
  ios/tora/Features/Experiments/Components/ExperimentDetailSections.swift
  ios/tora/Features/Experiments/Components/ExperimentInfoPanel.swift
  ios/tora/Features/Experiments/ViewModels/ExperimentDetailViewModel.swift
  ios/tora/Features/Experiments/Views/ExperimentDetailView.swift
  ios/tora/Features/Login/Views/LoginFormSheet.swift
  ios/tora/Features/Login/Views/LoginView.swift
  ios/tora/Features/Settings/Views/SettingsView.swift
  ios/tora/Features/Workspaces/Components/WorkspaceCard.swift
  ios/tora/Features/Workspaces/Components/WorkspaceSelector.swift
  ios/tora/Features/Workspaces/ViewModels/WorkspacesViewModel.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Screens/WorkspacesView.swift
  ios/tora/Services/Config.swift
  ios/tora/Services/Experiment.swift
  ios/tora/Services/Workspace.swift
  ios/tora/Shared/Components/ToraButton.swift
  ios/tora/Shared/Design/AppThemeEnvironment.swift
  ios/tora/Shared/Design/Colors.swift
  ios/tora/Shared/Design/Theme.swift
  ios/tora/Shared/Design/Typography.swift
  ios/tora/Shared/Extensions/Date+Formatting.swift
Due: none

get API_BASE_URL from the environment
  ios/Makefile
  ios/tora/Core/Configuration/AppConfig.swift
Due: none

update github workflow
  .github/workflows/main.yml
Due: none

remove basic examples
  python/examples/basic_usage.py
  python/examples/pytorch_integration.py
Due: none

update bad function signature
  python/CHANGELOG.md
  python/tora/_wrapper.py
Due: none

bump version
  python/tora/__init__.py
Due: none

update quickstart
  web/src/lib/content/quick-start.txt
Due: prettier-web

attemp to fix workflows
  .github/workflows/precommit-trigger.yml
Due: none

update web packages
  web/package.json
  web/pnpm-lock.yaml
Due: prettier-web

updte python tests
  python/tests/test_client.py
  python/tests/test_wrapper.py
Due: none

ui updates
  web/src/app.css
  web/src/lib/components/header.svelte
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

redo settings page
  web/src/routes/settings/+page.svelte
Due: prettier-web

add reusable Button component and hyperparam search
  web/src/lib/components/Button.svelte
  web/src/lib/components/index.ts
  web/src/lib/components/lists/EmptyState.svelte
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/modals/ModalButtons.svelte
  web/src/lib/components/modals/ModalClose.svelte
  web/src/lib/components/modals/create-experiment-modal.svelte
  web/src/lib/components/modals/delete-experiment-modal.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/components/modals/revoke-api-key-modal.svelte
  web/src/lib/components/pending-invitations.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/settings/+page.svelte
  web/src/routes/signup/+page.svelte
Due: prettier-web

replace sidebar nav with bottom breadcrumb and inline experiment details
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/NavBottomBreadcrumb.svelte
Due: prettier-web

perf: bound chart buffers, parallelize settings, cap streaming queries
  api/src/handlers/experiment.rs
  api/src/handlers/log.rs
  api/src/handlers/stream.rs
  api/src/handlers/user.rs
  api/src/middleware/auth.rs
  api/src/worker/outbox_worker.rs
  web/src/lib/chart/init.ts
  web/src/lib/utils/persistentCache.ts
  web/src/routes/api/[...proxyPath]/+server.ts
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/NavBottomBreadcrumb.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web, rustfmt-api

chore: read supabase db password from env var
  Makefile
Due: none

perf: bound chart buffers, parallelize settings, add DB indexes (#117)
  Makefile
  api/src/handlers/experiment.rs
  api/src/handlers/log.rs
  api/src/handlers/stream.rs
  api/src/handlers/user.rs
  api/src/middleware/auth.rs
  api/src/worker/outbox_worker.rs
  web/src/lib/chart/init.ts
  web/src/lib/utils/persistentCache.ts
  web/src/routes/api/[...proxyPath]/+server.ts
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/NavBottomBreadcrumb.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web, rustfmt-api
