Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

prettier-web:
  name: prettier (web)
  entry: pnpm --prefix web format
  language: system
  pass_filenames: false

rustfmt-api:
  name: rustfmt (api)
  entry: bash -c 'cd api && cargo fmt --all'
  language: system
  pass_filenames: false

add route to get only the results for a experiment
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
Due: rustfmt-api

static + streaming charts using echarts instead of chartjs
  start-dev.sh
  web/package.json
  web/pnpm-lock.yaml
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

Improve streaming metrics (#115)
  api/src/handlers/health.rs
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
  api/src/handlers/stream.rs
  api/src/types/core.rs
  start-dev.sh
  web/package.json
  web/pnpm-lock.yaml
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web, rustfmt-api

add new endpoint to get only the metrics, sorted by step number
  api/src/handlers/log.rs
  api/src/handlers/mod.rs
Due: rustfmt-api

store a array of publish errors and then create a array of ids when we need to record failures
  api/src/worker/outbox_worker.rs
Due: rustfmt-api

stabilize streaming charts + clean up code
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

pinned results should remain pinned even after refresh
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

move streaming / static button into chart components for visual consistency
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

use app colors for the charts
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

remove zoom bar
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

add some timing logs to the webapp to debug
  web/src/lib/api.ts
  web/src/lib/utils/timing.ts
  web/src/routes/api/[...proxyPath]/+server.ts
  web/src/routes/dashboard/+layout.svelte
  web/src/routes/dashboard/+page.server.ts
Due: prettier-web

remove duplicate calls to /metric endpoint due to SSR silliness
  web/src/routes/api/[...proxyPath]/+server.ts
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
Due: prettier-web

use utility to parse uuids consistently
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/stream.rs
Due: rustfmt-api

update ExperimentDetails component to use onMount instead of multiple effects, causing downstream components to rerender
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

remove usage of $effects
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

centralize and improve pinning logic
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/pins.svelte.ts
Due: prettier-web

remove more usage of $effect
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
Due: prettier-web

store experiments locally; allow users to press a button to refresh each column eliminating the need to refresh the browser
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/modals/delete-experiment-modal.svelte
  web/src/lib/utils/persistentCache.ts
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

clean up route / middleware creation
  api/src/handlers/mod.rs
  api/src/main.rs
  api/src/middleware/auth.rs
Due: rustfmt-api

clean up auth.rs hot path by adding helper functions to make the code more readable
  api/src/handlers/result.rs
  api/src/handlers/workspace.rs
  api/src/main.rs
  api/src/middleware/auth.rs
Due: rustfmt-api

use jwks to cache user credentials on server side
  api/Cargo.lock
  api/Cargo.toml
  api/src/middleware/auth.rs
  python/scripts/test_resume.py
  start-dev.sh
  web/src/routes/signup/+page.server.ts
  web/src/routes/signup/+page.svelte
Due: prettier-web, rustfmt-api

clean up get_jwk_key function
  api/src/middleware/auth.rs
Due: rustfmt-api

remove comments
  api/src/middleware/auth.rs
Due: rustfmt-api

show the workspaces and experiments in the same block + make that block collpasable via a button
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/EmptyState.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

remove comments
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

chart toolbar
  web/src/lib/components/ChartToolbar.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

reisze charts when sidebar is collapsed
  web/src/lib/components/ChartToolbar.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

remove comments and make buttons round
  web/src/lib/components/header.svelte
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web

clean up chart code
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

update api url
  ios/tora/Services/Config.swift
Due: none

remove comments
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

redirect properly on signup
  web/src/routes/signup/+page.svelte
Due: prettier-web

redirect is a type of Error i guess, scope down the try-catch
  web/src/routes/signup/+page.server.ts
Due: prettier-web

update experimentView.swift
  ios/tora/Screens/ExperimentsView.swift
Due: none

use new endpoints to pull metrics and results
  ios/tora/Screens/ExperimentsView.swift
  ios/tora/Services/Config.swift
  ios/tora/Services/Experiment.swift
Due: none

remove docs
  business_strategies/@business_strategies/v0.md
Due: none

add llm generated architecture diagram using mermaid
  README.md
Due: none

readme
  README.md
Due: none

bump readme
  README.md
Due: none

add y padding for the charts
  web/src/routes/dashboard/StaticChart.svelte
  web/src/routes/dashboard/StreamingChart.svelte
Due: prettier-web

Path conditions:
  prettier-web: any of: ^web/
  rustfmt-api: any of: ^api/
