Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(web/|api/)
      - id: end-of-file-fixer
        exclude: ^(web/|api/)
      - id: check-yaml
        exclude: ^(web/|api/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
        files: \.(toml)$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        name: ruff-linting
        files: ^python/tora/
        args: ["--fix"]
      - id: ruff-format
        name: ruff-formatting
        files: ^python/tora/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: debug-statements
        files: ^python/tora/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^python/tora/
        args: ["--ignore-missing-imports", "--no-strict-optional", "--allow-any-generics"]
        additional_dependencies: [types-requests]

  # Web formatting (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: pnpm --prefix web format
        language: system
        files: ^web/
        pass_filenames: false

  # Rust formatting (API)
  - repo: local
    hooks:
      - id: rustfmt-api
        name: rustfmt (api)
        entry: bash -c 'cd api && cargo fmt --all'
        language: system
        files: ^api/
        pass_filenames: false

ai generated design system
  ios/tora/Design/Components.swift
  ios/tora/Design/DesignSystem.swift
  ios/tora/Design/DesignSystemIndex.swift
  ios/tora/Design/DesignTokens.swift
  ios/tora/Design/Layout.swift
  ios/tora/Design/README.md
Due: none

fuck designs for now
  ios/tora/Design/Components.swift
  ios/tora/Design/DesignSystem.swift
  ios/tora/Design/DesignSystemIndex.swift
  ios/tora/Design/Layout.swift
  ios/tora/Design/README.md
  ios/tora/Features/Authentication/Views/LoginView.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

wip
  ios/tora/App.swift
  ios/tora/Core/Services/Workspace.swift
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
  ios/tora/Features/Main/Views/MainAppView.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

use tora svg instaed of converting to Path object
  ios/Makefile
  ios/tora/Core/Services/Auth.swift
  ios/tora/Core/Services/Workspace.swift
  ios/tora/Design/DesignSystem.swift
  ios/tora/Design/DesignTokens.swift
  ios/tora/Design/Icons.swift
  ios/tora/Design/Layout.swift
  ios/tora/Features/Authentication/Views/LoginView.swift
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
  ios/tora/Features/Main/Views/MainAppView.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
  ios/tora/Resources/Assets.xcassets/ToraLogo.imageset/Contents.json
Due: none

add swiftlint file
  ios/.swiftlint.yml
Due: none

ready for merge
  ios/tora/Core/Services/Workspace.swift
  ios/tora/Design/DesignSystem.swift
  ios/tora/Design/Icons.swift
  ios/tora/Features/Authentication/Views/LoginView.swift
Due: none

move design doc
  ios/tora/Design/README.md
Due: none

center the tora logo
  web/src/lib/components/simple-landing-page.svelte
Due: prettier-web

design doc
  ios/design.md
Due: none

disable web builds since thats on vercel now
  cloudbuild.yaml
  ios/tora/Core/Services/Auth.swift
  ios/tora/Core/Services/Workspace.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
  ios/tora/Info.plist
  ios/tora/tora.entitlements
Due: none

logout button in the settings page
  ios/tora/App.swift
  ios/tora/Core/Services/Auth.swift
  ios/tora/Core/Services/Config.swift
  ios/tora/Design/Colors.swift
  ios/tora/Design/Components.swift
  ios/tora/Design/DesignSystem.swift
  ios/tora/Design/DesignTokens.swift
  ios/tora/Design/Layout.swift
  ios/tora/Design/Typography.swift
  ios/tora/Features/Authentication/Views/LoginView.swift
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
  ios/tora/Features/Main/Views/MainAppView.swift
  ios/tora/Features/Settings/Views/SettingsView.swift
  ios/tora/Features/Workspaces/Views/WorkspacesView.swift
Due: none

change log level to error for backend
  cloudbuild.yaml
Due: none

remove extra headline
  ios/tora/Features/Experiments/Views/ExperimentsView.swift
Due: none

WIP: unified dashboard
  web/src/routes/dashboard/+layout.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

good enough for now
  web/src/routes/+layout.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

good enough for now
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/src/app.css
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/src/routes/dashboard/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/+page.svelte
  web/src/routes/workspaces/[slug]/+page.server.ts
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web

wip
  web/src/routes/dashboard/+page.svelte
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/+page.svelte
  web/src/routes/workspaces/[slug]/+page.server.ts
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web

wip
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

load workspace roles
  web/src/routes/+layout.server.ts
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

update proxy to also work with forms
  web/src/routes/api/[...proxyPath]/+server.ts
Due: prettier-web

wip
  api/src/handlers/role.rs
  web/src/lib/components/modals/workspace-invite-modal.svelte
  web/src/lib/types.ts
  web/src/routes/compare/+page.server.ts
  web/src/routes/dashboard/+page.svelte
  web/src/routes/experiments/[experimentId]/+page.server.ts
  web/src/routes/workspaces/+layout.server.ts
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/[slug]/+page.server.ts
Due: prettier-web, rustfmt-api

wip
  api/src/types/core.rs
  web/src/routes/dashboard/+page.svelte
  web/src/routes/login/+page.svelte
Due: prettier-web, rustfmt-api

more refactoring of slop
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

i was wrong, ssr is the way to go
  web/src/routes/dashboard/+page.server.ts
Due: prettier-web

remove unnecessary layout.svelte from /dashboard
  web/src/routes/dashboard/+layout.svelte
Due: prettier-web

delet workspace
  web/src/routes/dashboard/+page.server.ts
Due: prettier-web

change icons
  start-dev.sh
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/routes/dashboard/+page.svelte
Due: prettier-web

wip
  web/src/lib/types.ts
  web/src/routes/dashboard/+page.server.ts
  web/src/routes/dashboard/+page.svelte
Due: prettier-web
