Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(web/|api/)
      - id: end-of-file-fixer
        exclude: ^(web/|api/)
      - id: check-yaml
        exclude: ^(web/|api/)
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
        files: \.(toml)$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        name: ruff-linting
        files: ^python/tora/
        args: ["--fix"]
      - id: ruff-format
        name: ruff-formatting
        files: ^python/tora/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: debug-statements
        files: ^python/tora/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        files: ^python/tora/
        args: ["--ignore-missing-imports", "--no-strict-optional", "--allow-any-generics"]
        additional_dependencies: [types-requests]

  # Web formatting (TypeScript/JavaScript)
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: pnpm --prefix web format
        language: system
        files: ^web/
        pass_filenames: false

  # Rust formatting (API)
  - repo: local
    hooks:
      - id: rustfmt-api
        name: rustfmt (api)
        entry: bash -c 'cd api && cargo fmt --all'
        language: system
        files: ^api/
        pass_filenames: false

wip
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/README.md
  web/src/lib/components/modals/create-experiment-modal.svelte
  web/src/lib/components/modals/create-workspace-modal.svelte
  web/src/lib/components/modals/delete-confirmation-modal.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/components/modals/workspace-invite-modal.svelte
  web/src/routes/+page.server.ts
  web/src/routes/dashboard/invitations-modal.svelte
  web/src/routes/settings/+page.svelte
Due: prettier-web

wip
  web/src/lib/components/search/README.md
Due: prettier-web

wip
  web/src/lib/components/index.ts
  web/src/lib/components/page-header.svelte
  web/src/lib/components/recent-activity.svelte
  web/src/lib/components/simple-landing-page.svelte
  web/src/routes/+page.svelte
Due: prettier-web

wio
  web/src/lib/components/index.ts
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/toolbar.svelte
  web/src/lib/state/comparison.svelte.ts
  web/src/routes/dashboard/ExperimentListColumn.svelte
Due: prettier-web

wip
  web/src/lib/components/lists/ExperimentList.svelte
Due: prettier-web

wip
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/lists/index.ts
Due: prettier-web

remove all responsive styles
  web/src/app.css
  web/src/lib/components/header.svelte
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/BaseModal.svelte
  web/src/lib/components/modals/ModalClose.svelte
  web/src/lib/components/modals/README.md
  web/src/lib/components/search/SearchDropdown.svelte
  web/src/lib/components/search/SearchInput.svelte
  web/src/lib/content/user-guide.md
  web/src/routes/dashboard/ExperimentChart.svelte
  web/src/routes/dashboard/ExperimentDetails.svelte
  web/src/routes/settings/+page.svelte
Due: prettier-web

rename simple landing page to just landing page
  web/src/lib/components/landing-page.svelte
Due: prettier-web

maintain responsiveness in the landing page
  web/src/lib/components/landing-page.svelte
  web/src/routes/dashboard/invitations-modal.svelte
Due: prettier-web

fix the landing page so it looks the same as before on both the desktop and phones
  web/src/routes/+layout.svelte
Due: prettier-web

wip
  web/src/routes/+layout.svelte
  web/src/routes/dashboard/+page.svelte
  web/src/routes/dashboard/loader.svelte.ts
Due: prettier-web

restore invitations functinality
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/pending-invitations.svelte
  web/src/routes/+page.server.ts
Due: prettier-web

remove unnecessary log
  web/src/routes/dashboard/ExperimentListColumn.svelte
Due: prettier-web

update workflow to install dependencies for swift-format
  .github/workflows/precommit-trigger.yml
Due: none

try again
  .github/workflows/precommit-trigger.yml
Due: none

swift-format isnt going to install nicely
  .github/workflows/precommit-trigger.yml
Due: none

update error page message
  web/src/routes/+error.svelte
Due: prettier-web

list styling
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
Due: prettier-web

style the cards at the component level
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
Due: prettier-web

update invitations modal so that when there is no invitations it shows that
  web/src/routes/dashboard/invitations-modal.svelte
Due: prettier-web

update pending invitations to show the workspace name correctly
  api/src/handlers/invitation.rs
  api/src/types/core.rs
  web/src/lib/components/pending-invitations.svelte
  web/src/lib/types.ts
Due: prettier-web, rustfmt-api

add some basic ass caching for experiment lists
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/state.svelte.ts
Due: prettier-web

add a load function that proxies the backend
  api/src/handlers/user.rs
  api/src/types/network.rs
  web/src/routes/signup/confirm/+page.server.ts
  web/src/routes/signup/confirm/+page.svelte
Due: prettier-web, rustfmt-api

add a load function that proxies the backend to /signup/confirm (#108)
  api/src/handlers/user.rs
  api/src/types/network.rs
  web/src/routes/signup/confirm/+page.server.ts
  web/src/routes/signup/confirm/+page.svelte
Due: prettier-web, rustfmt-api

remove console log
  api/src/handlers/user.rs
Due: rustfmt-api

update confirm handler to return response / error
  api/src/handlers/user.rs
Due: rustfmt-api

remove unnecessary borders
  api/src/handlers/user.rs
  python/uv.lock
  web/src/routes/dashboard/+page.svelte
  web/src/routes/signup/confirm/+page.server.ts
Due: prettier-web, rustfmt-api

use all of the footprint correctly
  web/src/routes/dashboard/ExperimentDetails.svelte
Due: prettier-web

business strategies
  business_strategies/@business_strategies/v0.md
Due: none

update the python client to support logging results which is just a wrapper around log with a valid metadata
  python/tests/test_client.py
  python/tests/test_wrapper.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_wrapper.py
Due: none

update handlers to return AppResult<T, AppError>
  api/src/handlers/api_key.rs
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/types/error.rs
  api/src/types/mod.rs
  api/src/types/network.rs
  web/src/routes/dashboard/+page.server.ts
Due: prettier-web, rustfmt-api

remove dashboard handler since it's not being used anymore
  api/src/handlers/dashboard.rs
  api/src/handlers/mod.rs
Due: rustfmt-api

Api handlers cleanup (#109)
  api/src/handlers/api_key.rs
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/types/error.rs
  api/src/types/mod.rs
  api/src/types/network.rs
  business_strategies/@business_strategies/v0.md
  python/tests/test_client.py
  python/tests/test_wrapper.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_wrapper.py
  web/src/routes/dashboard/+page.server.ts
Due: prettier-web, rustfmt-api

fix issue where the cookie duration was tied to the refresh token resulting in non-existing cookie when trying to refresh
  web/src/hooks.server.ts
  web/src/routes/login/+page.server.ts
Due: prettier-web

remove unused functions that the ai eagerly wrote
  api/src/types/error.rs
Due: rustfmt-api

move types/errors.rs -> handlers/result.rs
  api/src/handlers/api_key.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/result.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/types/mod.rs
Due: rustfmt-api

clean up lists and use bitui drop down menu for actions
  web/src/app.css
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/ListActionsMenu.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
Due: prettier-web

Properly refresh tokens (#110)
  api/src/handlers/api_key.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/result.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/types/mod.rs
  web/src/app.css
  web/src/hooks.server.ts
  web/src/lib/components/lists/ExperimentList.svelte
  web/src/lib/components/lists/ListActionsMenu.svelte
  web/src/lib/components/lists/ListCard.svelte
  web/src/lib/components/lists/WorkspaceList.svelte
  web/src/lib/components/modals/delete-workspace-modal.svelte
  web/src/routes/login/+page.server.ts
Due: prettier-web, rustfmt-api

remove newlines because
  web/src/routes/dashboard/ExperimentListColumn.svelte
  web/src/routes/dashboard/WorkspaceColumn.svelte
Due: prettier-web
