Repository TonyTheTaiga/tora: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-web, rustfmt-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2
    hooks:
      - id: ruff-format
        name: format
        files: ^python/
        chdir: python
  - repo: local
    hooks:
      - id: prettier-web
        name: prettier (web)
        entry: pnpm --prefix web format
        language: system
        files: ^web/
        pass_filenames: false
        chdir: web
  - repo: local
    hooks:
      - id: rustfmt-api
        name: rustfmt (api)
        entry: bash -c 'cd api && cargo fmt --all'
        language: system
        files: ^api/
        pass_filenames: false

add missing server side actions for experiments
  web/src/routes/experiments/+page.server.ts
Due: prettier-web

fix api validation
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/user.rs
  api/src/main.rs
  api/src/middleware/auth.rs
  api/src/ntypes.rs
  api/src/repos/workspace.rs
  python/tora/_client.py
  web/src/app.d.ts
  web/src/lib/components/header.svelte
  web/src/lib/components/modals/create-experiment-modal.svelte
  web/src/lib/components/modals/delete-confirmation-modal.svelte
  web/src/lib/components/modals/edit-experiment-modal.svelte
  web/src/lib/index.ts
  web/src/lib/server-api.ts
  web/src/routes/api/[...path]/+server.ts
  web/src/routes/compare/+page.server.ts
  web/src/routes/experiments/[experimentId]/+page.server.ts
  web/src/routes/experiments/[experimentId]/metrics.csv/+server.ts
  web/src/routes/workspaces/[slug]/+page.server.ts
Due: prettier-web, rustfmt-api

wip
  api/src/handlers/experiment.rs
  python/tora/_client.py
Due: rustfmt-api

metric inserts working but slow as hell
  api/src/handlers/experiment.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  python/tora/_client.py
  python/uv.lock
Due: rustfmt-api

gitignore
  .gitignore
Due: none

remove repos
  api/src/error.rs
  api/src/handlers/mod.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/main.rs
  api/src/ntypes.rs
  api/src/repos/mod.rs
  api/src/types.rs
Due: rustfmt-api

organize types
  api/src/handlers/api_key.rs
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/mod.rs
  api/src/handlers/role.rs
  api/src/handlers/user.rs
  api/src/handlers/workspace.rs
  api/src/main.rs
  api/src/middleware/auth.rs
  api/src/ntypes.rs
  api/src/types.rs
  api/src/types/core.rs
  api/src/types/error.rs
  api/src/types/mod.rs
  api/src/types/network.rs
Due: rustfmt-api

remove unused things
  api/src/types/network.rs
Due: rustfmt-api

remove unused things
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/handlers/invitation.rs
  api/src/handlers/metric.rs
  api/src/handlers/workspace.rs
Due: rustfmt-api

move schema file into api
  schema.sql
Due: none

speed up batch metric endpoint using unnest
  api/schema.sql
  api/src/handlers/metric.rs
  api/src/main.rs
Due: rustfmt-api

format
  web/src/lib/server-api.ts
  web/src/routes/api/[...path]/+server.ts
Due: prettier-web

fix the proxy logic
  api/src/middleware/auth.rs
  web/src/lib/api.ts
  web/src/routes/api/[...path]/+server.ts
  web/src/routes/login/+page.server.ts
Due: prettier-web, rustfmt-api

fix ui flow for creating workspaces
  api/src/handlers/workspace.rs
  web/src/routes/workspaces/+page.server.ts
  web/src/routes/workspaces/create-workspace-modal.svelte
Due: prettier-web, rustfmt-api

unused imoports
  web/src/routes/workspaces/+page.server.ts
Due: prettier-web

remove unused imports and declarations
  web/src/lib/utils/timing.ts
  web/src/routes/compare/radar-chart.svelte.ts
  web/src/routes/experiments/[experimentId]/metrics.csv/+server.ts
Due: prettier-web

rename path to proxyPath
  web/src/routes/api/[...path]/+server.ts
Due: prettier-web

rename path to proxyPath
  web/src/routes/api/[...proxyPath]/+server.ts
Due: prettier-web

cleanup
  web/src/hooks.server.ts
  web/src/lib/components/toolbar.svelte
  web/src/lib/landing-page/viz.svelte
  web/src/routes/+layout.server.ts
  web/src/routes/+layout.svelte
  web/src/routes/experiments/[experimentId]/metric-stream/+server.ts
  web/src/routes/experiments/[experimentId]/tora-chart.svelte
  web/src/routes/login/+page.server.ts
Due: prettier-web

more redirect fun
  web/src/routes/+layout.server.ts
Due: prettier-web

logout endpoint
  web/src/routes/logout/+page.server.ts
Due: prettier-web

remove console log
  web/src/hooks.server.ts
Due: prettier-web

fix experiment creation
  web/src/routes/experiments/+page.server.ts
Due: prettier-web

wip
  web/src/lib/components/modals/create-experiment-modal.svelte
Due: prettier-web

experiments kinda editable
  api/schema.sql
  api/src/handlers/dashboard.rs
  api/src/handlers/experiment.rs
  api/src/types/network.rs
  web/src/routes/experiments/+page.server.ts
Due: prettier-web, rustfmt-api

edit tags!
  web/src/lib/components/modals/edit-experiment-modal.svelte
Due: prettier-web

deletes
  api/src/handlers/experiment.rs
  web/src/lib/api.ts
  web/src/lib/components/modals/delete-confirmation-modal.svelte
  web/src/routes/experiments/+page.server.ts
  web/src/routes/workspaces/[slug]/+page.svelte
Due: prettier-web, rustfmt-api

imports at the top
  api/src/handlers/user.rs
Due: rustfmt-api

fix link that shows
  python/pyproject.toml
  python/tora/_client.py
  python/tora/_wrapper.py
Due: none

wip
  .dockerignore
  .idx/dev.nix
  .idx/integrations.json
  api/Dockerfile
  api/src/types/error.rs
  python/Makefile
  python/README.md
  python/pyproject.toml
  python/scripts/tora_template.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_config.py
  python/tora/_http.py
  python/tora/_types.py
  python/tora/_wrapper.py
  python/uv.lock
  web/.prettierignore
  web/src/lib/content/quick-start.txt
  web/static/favicon.svg
  workspaces/+layout.server.ts
  workspaces/+page.server.ts
  workspaces/+page.svelte
  workspaces/[slug]/+page.server.ts
  workspaces/[slug]/+page.svelte
  workspaces/[slug]/experiments-list-desktop.svelte
  workspaces/[slug]/experiments-list-mobile.svelte
  workspaces/create-workspace-modal.svelte
Due: prettier-web, rustfmt-api

wip
  python/.pre-commit-config.yaml
  python/CHANGELOG.md
  python/MANIFEST.in
  python/examples/basic_usage.py
  python/examples/pytorch_integration.py
  python/tests/__init__.py
  python/tests/conftest.py
  python/tests/test_client.py
  python/tests/test_exceptions.py
  python/tests/test_http.py
  python/tests/test_validation.py
  python/tests/test_wrapper.py
  python/tora/_exceptions.py
  python/tora/_validation.py
Due: none

remove old scripts
  python/Makefile
  python/scripts/dpr.py
  python/scripts/imagenette_training.py
  python/scripts/logistic_regression.py
  python/scripts/mnist_training.py
  python/scripts/recommender_system.py
  python/scripts/text_classification.py
  python/scripts/topic_modeling_lda.py
  python/scripts/whisper.py
Due: none

readme
  .pre-commit-config.yaml
  python/README.md
Due: none

fix all mypy errros
  .pre-commit-config.yaml
  python/.flake8
  python/.pre-commit-config.yaml
  python/examples/basic_usage.py
  python/examples/pytorch_integration.py
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/test_client.py
  python/tests/test_exceptions.py
  python/tests/test_http.py
  python/tests/test_validation.py
  python/tests/test_wrapper.py
  python/tora/__init__.py
  python/tora/_client.py
  python/tora/_config.py
  python/tora/_http.py
  python/tora/_validation.py
  python/tora/_wrapper.py
Due: none

fix tests
  python/tests/test_client.py
  python/tora/_validation.py
Due: none

workflow to run tests
  .github/workflows/python-tests.yml
Due: none

workflow fixes
  .github/workflows/python-tests.yml
  python/uv.lock
Due: none

update dev dependencies
  .github/workflows/python-tests.yml
  python/pyproject.toml
Due: none

uv lock
  python/uv.lock
Due: none
